
#body {
    -fx-background-color: #b8b8b8;
}

#topAnchor {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#D37D28, #9E5D18);
}

#CustomerInfoBtn:hover, #AccountBtn:hover, #FavoritesBtn:hover, #ExitBtn:hover {
    -fx-border-color: white;
    -fx-border-width: 1.2;
    -fx-scale-x: 1.1;
}

#CustomerInfoBtn, #AccountBtn, #FavoritesBtn, #ExitBtn {

    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#9E5D18, #D37D28);
}

